$screen-xxl: 1600px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;

$brand-one: #42b883;
$brand-one-light: lighten($brand-one, 49%);
$brand-two: #35495e;
$brand-two-light: lighten($brand-two, 60%);

$badge-frontend: #79a9d1;
$badge-backend: #f07167;
$badge-career: #fec601;
$alert-red: #dd0426;
